<!--Testimonials-->
<aside id="testimonials" class="scrollto text-center" data-enllax-ratio=".2">

    <div class="row clearfix">

        <div class="section-heading">
            <h3>{{testimonials?.data?.title}}</h3>
            <h2 class="section-title">{{testimonials?.data?.description}}</h2>
        </div>

        @for (feedback of testimonials?.data?.feedbackBlock; track feedback) {

            <blockquote class="col-3 testimonial classic">
                <img src={{feedback.image}} alt="User" />
            <q>{{feedback.quote}}</q>
            <footer>{{feedback.author}}</footer>
            </blockquote>
        }

    </div>

</aside>
<!--End of Testimonials-->